/* created 01/01/16 by Liam Chessell */

body {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #eeeeee;
	background-color: #003300;
}

section {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 20px 10px;
	padding: 0;
	text-shadow: 3px 3px #001100;
}

p {
	margin: 10px 15px;
	padding: 0;
}

section#links {
	background-color: #555555;
	border-radius: 8px;
	margin: 0;
	padding: 0;
	height: 52px;
}

ul#navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#navigation li {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 52px;
	vertical-align: middle;
	text-align: center;
}

ul#navigation li a {
	display: block;
	text-decoration: none;
	margin: 0 10px;
	padding: 0;
	width: 100px;
	height: 52px;
	color: #ffffff;
	background-color: #777777;
}

ul#contacts {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#contacts li {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 32px;
	vertical-align: middle;
}

ul#contacts li a {
	display: block;
	text-decoration: none;
	margin: 10px;
	padding: 0;
	width: 32px;
	height: 32px;
	color: #ffffff;
}

ul#contacts li a#icon_email {
	background-image: url("icon_email.png");
}

ul#contacts li a#icon_itchio {
	background-image: url("icon_itchio.png");
}

ul#contacts li a#icon_github {
	background-image: url("icon_github.png");
}

ul#contacts li a#icon_tumblr {
	background-image: url("icon_tumblr.png");
}

ul#contacts li a#icon_twitter {
	background-image: url("icon_twitter.png");
}

ul#contacts li a#icon_linkedin {
	background-image: url("icon_linkedin.png");
}

blank {	
	-moz-transition: background .2s linear;
	-webkit-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}